<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/main.css">
    <title>Pizza House</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../">
                <h1 class="logo">Pizza House</h1>
            </a>
        </div>
        <ul>
            <li><a href="../pizza/orders">Orders List</a></li>
        </ul>
    </header>

    <main>
        <div class="home-logo">
            <img src="../IMG/pizza-house.png" alt="pizza house logo">
            <p class="app-title">THE NORTH'S BEST PIZZAS</p>
            <p>
                <% if(typeof msg !== 'undefined'){ %>
                    <%= msg %>
                <% } %>
            </p>
        </div>
        <a href="../pizza/create-order" class="create-order">Order</a>
    </main>

    <footer>Copyright &copy; Pizza House 2023</footer>

</body>
</html>